body {
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  font-family: 'Roboto', 'Future',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.nav-scroller {
  position: relative;
}

.nav {
 position: absolute;
 top: 3px;
 right:16px;
}

.nav-scroller {
  margin-top: 2rem;
}

h3 {
  color: #3F4C50;
  font-size: 1.5rem;
}

h3:nth-of-type(1) {
  margin-top: 1.5rem;
}

h3:nth-of-type(2) {
  margin-bottom: 2.5rem;
}

.slider {
  margin-bottom: 2rem;
}

.slick-slide img {
  opacity: .4;
}

.slick-slide .slick-center {
  opacity:1;
}


.slick-slide.slick-center img {
  opacity: 1;
  transform: scale(1.2);
}

.slick-dots {
  bottom: -65px;
}

.slick-dots li button:before {
  font-size: 12px;
  line-height: 20px;
}

.carousel-item {
  position: relative;
}

.slide__caption {
  color: #F8F8F8;
  font-weight: bold;
  top:10px;
  position: absolute;
  width: 75%;
  z-index: 2;
}

hr {
  background: #E08D4F;
  height  : .5rem;
}

#news-content {
  position: relative;
}

#news-content-bar{
  position: absolute;
  bottom: .7rem;
  left: 0;
  right: 0;
  height: .1rem;
  background: black;
}

.shortBar {
  margin-top:2rem;
  width: 15%;
}

.longBar {
  margin-top:5rem;
  margin-bottom: 5rem;
}

h2 {
  text-align: left;
}

p {
  text-align: left;
}

a {
  color: white;
}

.card img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.about-text {
  color:white;
  margin-top:2rem;
}

label {
  color: white;
}

#no-picture {
  margin-top:2.2rem;
  margin-left: 2.9rem;
}

.card {
  margin-top:2rem;
}

.reveal-articles {
  background-color: black;
  border-color: black;
}

#arrow-down:hover {
  -webkit-filter: drop-shadow(1px 1px 0 lightblue)
                  drop-shadow(-1px -1px 0 lightblue);
  filter: drop-shadow(1px 1px 0 lightblue) 
          drop-shadow(-1px -1px 0 lightblue);
}

.logo-img {
  margin-bottom: 1.5rem;
  opacity: .8;
  width: 240px;
  height: 180px;
}

#arrow-down {
  width: 5rem;
}

@media (max-width: 900px) {
  .display-1 {
    font-weight: 500;
    font-size: 4rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  h3 {
    font-size: 1rem;
  }
}
