body {
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  font-family: 'Roboto', 'Future',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

p {
  margin-bottom:.5rem;
  font-size: 1.25rem;
}

.nav-scroller {
  position: relative;
}

.nav {
 position: absolute;
 top: 3px;
 right:16px;
}

.nav-scroller {
  margin-top: 2rem;
}

h3 {
  color: #3F4C50;
  font-size: 1.5rem;
  font-weight: 800;
}

/* News Items */

#news-container {
  border-top: 2px solid #f1f1f1;
  padding-top: 1.2rem;
  padding-bottom: 1.5rem;
}

#news-content {
  position: relative;
}

.news-title {
  text-align: left;
  font-weight: 800;
  margin-top: 1.5rem;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #3F4C50;
}

.source-name {
  text-align: left;
  font-size: 1.3rem;
  font-style: oblique;
  color: #3F4C50;
}

/* Carousel Elements */

.slider {
  margin-bottom: 2rem;
}

.slick-slide img {
  margin-left: auto; 
  margin-right: auto;
  opacity: .4;
  min-width: 190px;
}

.slick-slide .slick-center {
  opacity:1;
}


.slick-slide.slick-center img {
  opacity: 1;
  transform: scale(1.2);
}

.slick-dots {
  bottom: -65px;
}

.slick-dots li button:before {
  font-size: 12px;
  line-height: 20px;
}

.carousel-item {
  position: relative;
}

.slide__caption {
  color: #F8F8F8;
  font-weight: bold;
  top:10px;
  left:28px;
  position: absolute;
  width: 75%;
  z-index: 2;
}

.user-intro {
  margin: auto;
  width: 50%;
  margin-top: 3.5rem;
}

/* Orange Bars */
hr {
  background: #E08D4F;
  height  : .5rem;
}


.shortBar {
  margin-top:2rem;
  width: 15%;
}

.longBar {
  margin-top:5rem;
  margin-bottom: 2rem;
}

.full-spectrum-icon {
  max-width: 30px;
  max-height: 30px;
  margin-left: 1rem;
}

.full-spectrum-text {
  margin-left:.5rem;
}

/* Text on page adjustments */

a {
 color: black;
}

a:hover {
  color: gray;
}

.card img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

label {
  color: white;
}

.card {
  margin-top:3rem;
}

.logo-img {
  margin-bottom: 1em;
  margin-top:1.425em;
}

.profile-img {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.profile-name {
  display: block;
  margin:auto;
  margin-top:2rem;
}

.image-row {
  margin-top: 2rem;
  display: block;
  margin: auto;
}

.btn-warning {
  background-color: #E08D4F !important;
}

#gray-container {
  background-color: #F8F8F8;
}

#white-container, #gray-container {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

#landing-background {
  background-image: url("img/landing-image.jpg");
  margin-top: 4rem;
  background-repeat: no-repeat; 
  padding: 15rem;
  background-size: 1366px 796px;
}

.landing-title, .description-body {
  font-family: "Noto Sans", sans-serif;
}

.landing-title {
  font-weight: 800;
  margin-top: 2rem;
}

.description-row {
  padding:2rem;
}

.description-body {
  text-align: center;
  font-size: 1.2rem;
}

#intro {
  position: relative;
  bottom:120px;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.article-desc {
  font-size: 1.1rem;
  padding-top: .7rem;
  padding-bottom:1.2rem;
}

.timestamp {
  position: absolute;
  font-size: 1rem;
  right: 1rem;
  font-style: italic;
}

.spectrum-home {
  position: absolute;
  left:1rem;
}

@media (max-width:1200px) {
  .slick-slide img {
    min-width: 150px;
  }
}

@media (max-width: 1000px) {
  .display-1 {
    font-weight: 500;
    font-size: 4rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .slick-slide img {
    min-width: 120px;
  }
}

@media (max-width: 768px) {
  .slick-slide img {
    min-width: 100px;
  }
}

@media (max-width: 500px) {
  h3 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .slick-slide img {

  }
}
